//// global variables ////
$darkGrey: #424242;
$green: #31B404;

//// import files ////
@import "global";


//// document styling ////
html, body {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 100%; 
}

h2 {
	font-size: 3.0em;
}

h3 {
	font-size: 1.5em;
}

.red {
	color: red;
}

.black {
	color: black;
}

header {
	background-color: $darkGrey;
	font-size: 1.75em;
	color: #fff;
	text-align: center;
	padding: .25em;
}

main {
	section {
		text-align: center;
		> article {
			text-align: left;
			display: inline-block;
		
			.hand {
				border-radius: 15px;
				border: 1px solid #000;
				width: 200px;
				height: 300px;
				margin: 5px;
				padding: 5px 10px;
				font-size: 2.1em;
			}
			
			.cardTop {
				vertical-align: top;
			}
			
			.cardBottom {
				-moz-transform: rotate(180deg);
				-o-transform: rotate(180deg);
				-webkit-transform: rotate(180deg);
				transform: rotate(180deg);
				vertical-align: text-bottom;
				height: 100%;
				float: right;
			}
		}
		.playerDisplay{
			padding-top: 75px;
			vertical-align: top;

		}		
	}	
	
	.infoBox {
		margin-top: 8px;
		* {
			display: inline-block;
			margin: 0 25px;
			vertical-align: top;
			height: 75px;
		}
		.checkmark {
			border-radius: 100%;
			width: 75px;
			color: #fff;
			background-color: green;
			font-size: 4.5em;
			visibility: hidden;
		}
		.winIcon {
			visibility: visible;
		}
		h2 {
			width: 300px;
			padding-top: 10px;
			vertical-align: middle;
		}
		button {
			background-color: #000;
			border-radius: 100%;
			width: 75px;
			padding: 0;
			border: none;
			color: #fff;
			font-size: 1.2em;
		}
		button:active {
			background-color: $green;
			color: #000;
		}
	}
}








